<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>
<div class="row">
   <th>
      <%= link_to  edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
       <span class="fas fa-user-cog"></span>
      <% end %>
    </th>

</div>
